health-app/src/backend-workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Surya. How can I assist you today?",
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "14ba4cc9-a143-43a1-8ebc-418cd48a7628",
      "name": "When chat message received",
      "webhookId": "e9d69f35-50f5-4330-bc1c-7565556df6cf"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an AI-Native Health Co-pilot. Your goal is to reduce cognitive load. When you receive ingredient names, do not just list them. Reason about why they matter (e.g., 'This causes energy crashes'). Communicate uncertainty honestly. Output your response as a JSON object with keys: 'main_insight', 'reasoning', 'uncertainty', and 'theme'"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "93d1a64c-cd94-4e28-a79b-3b350bcfc734",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "9e63fc95-8deb-42ed-96f9-1e49b2b84ade",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "QnOcIuo1ZDJgzHD0",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "message": "={\n  \"insight\": \"{{ $node[\"AI Agent\"].json[\"output\"] }}\",\n  \"reasoning\": \"{{ $node[\"AI Agent\"].json[\"reasoning\"] }}\",\n  \"uncertainty\": \"{{ $node[\"AI Agent\"].json[\"Honest Note\"] }}\"\n}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        320,
        -112
      ],
      "id": "73dc8e6d-da9f-4dad-b2f2-91fd17eb1ff9",
      "name": "Respond to Chat"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3e644603-6053-48eb-b1a6-b65c20307e60",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c0462b656177259d7eda67325d2341c855a4a25df79333661ca3534c8250adad"
  },
  "id": "Bq-zTxGfR8PI0aLhPxq2j",
  "tags": []
}